export OS_TENANT_NAME=admin
export OS_USERNAME=admin
export OS_PASSWORD={{admin_pass}}
export OS_AUTH_URL={{auth_url_v2}}
export OS_AUTH_STRATEGY=keystone
export OS_REGION_NAME={{region}}
export PS1="[\u@\h \W(keystone_admin)]# "